<html>
    <head>
        <title>Arthur Hsiao</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="angular.js"></script>
        <script src="index.js"></script>
        <link rel="stylesheet" href="index.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css" rel="stylesheet">
    </head>
    <body ng-app = "app" ng-controller="appCtrl" ng-enter="enterPress()">
        <section class="section1">
            <video autoplay muted loop id="myVideo">
                <source src="video/rain.mp4">
                    Sorry, your browser does not support HTML5 video.
            </video>
            <h1>Arthur Hsiao</h1>
            <div class="title">
                <div class="cardTitle">
                    <h2>An active learner</h2>
                </div>            
                <div class="cardTitle">
                    <h2>Web developer</h2>
                </div>
                <div class="cardTitle">
                    <h2>QUT Master student</h2>
                </div>
                
            </div>
        </section>
        <section class="personalInf">
            <div class="careerObj">
                <h2>Career Objective</h2>
                <p>I’m Arthur motivated by active learning attitude.
                        I’m looking for <mark>a Web developer</mark> as my graduate career position.</p>
            </div>
            <div class="contact">
                <h2>contact</h2>
                <div>
                    <i class="card-icon fas fa-phone"></i>
                    <a>0413917616</a>
                </div>
                <div>
                    <i class="card-icon far fa-envelope"></i>
                    <a>arthur.hsiao0629@gmail.com</a>
                </div>
                
            </div>
            

        </section>
        
        <section class ="demoSection">
            <div class="calculatorCard">
                <h1>{{message}}</h1>
                <h2>Enter Numbers to Multiply:</h2>
                <input class="textBox" type="text" ng-model="Num1" placeholder="0"/>
                <h2>x</h2>
                <input class="textBox" type="text" ng-model="Num2" placeholder="0"/>
                <a class="submitBtn" ng-click="submit()">submit</a>
                <h3 class="answer">{{answer}}</h3>
            </div>
            <div class="animate">
                <svg>
                    <path></path>
                </svg>
                <svg>
                    <path></path>
                </svg>
            </div>
            <div class="coming">
                <div>
                    <h1>coming soon...</h1>
                </div>
            </div>
        </section>
        
    </body>
</html>