*{
    margin:0;
    padding:0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;

}
body{
    background: url(img/wood.jpg);  
}

.section1{
    position: relative;
    border: 3px solid;
    overflow: hidden;
    margin: 0 20px;
    cursor: default;
}
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
}
.section1 h1{
    text-align: center;
    font-size: 80pt;
    -webkit-text-stroke: 5px red;
}
.section1 .title{
    width: auto;
    padding:10px;
    background: lightblue;
    text-align: center;
    justify-content: center;
    display: flex;
    border: 3px solid;

}
.section1 .title .cardTitle{
    background: lightgray;
    padding: 0 20px;
    margin: 0 20px;
    width: calc(33%, -20px);
    border: 3px solid;
    border-radius: 20px;
    transition: linear .3s;
}
.section1 .title .cardTitle:hover{
    background: lightgray;
    padding: 0 20px;
    margin: 0 20px;
    width: calc(33%, -20px);
    border: 3px solid red;
    border-radius: 20px;
    color:white;
    -webkit-text-stroke: 1px black;
    transform: translateY(-5px);
    box-shadow: 0 15px 35px rgba(0, 0,0, .5);
}
.CareerObj{
    background: lightgreen;
    border: 3px solid;
    padding: 0 20px;
    margin: 0 20px;
    cursor: default;
}
.CareerObj h2{
    font-size: 30pt;
    text-align: center;
    padding: 10px 20px;
    margin: 0 20px;
    text-decoration: underline dotted blue;
}
.CareerObj p{
    text-align: center;
    font-size: large;
    padding: 10px 20px;
    margin: 0 20px;
}
.CareerObj p mark{
    padding:5px 5px;
    background: black;
    color:yellow
}
.CalculatorSection{
    background: lightsalmon;
    border: 3px solid;
    padding: 0 20px;
    margin: 0 20px;
}
.card{
    width: 400px;
    background: cornsilk;
    padding:40px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
    cursor: default;
}
.calculator{
    text-align: center;
    position: relative;
}
.calculator h1{
    color:red;
}
.calculator h2{
    color: black;
    position: relative;
    text-align: center;
}
.submitBtn{
    margin-left: auto;
    position: relative;
    bottom: -20px;
    text-decoration: none;
    color: darkslategray;
    border: 3px solid;
    padding: 8px 24px;
    border-radius: 20px;
    cursor: pointer;
    
}
.submitBtn:active{
    margin-left: auto;
    position: relative;
    bottom: -20px;
    text-decoration: none;
    color: darkslategray;
    border: 3px solid;
    padding: 10px 26px;
    border-radius: 20px;
    cursor: pointer;
}
.card .calculator .answer{
    text-align: center;
    margin: auto;
    position: relative;
    top: 40px;
    width: 70%;
    padding:5px 10px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    background-color: greenyellow;
}
.card .calculator .answer:hover{
    text-align: center;
    font-size:40pt;
    color:pink;
    margin: auto;
    position: relative;
    top: 35px;
    width: 70%;
    padding:10px 20px;
    border: 5px solid darkslategray;
    border-radius: 10px;
    background-color: greenyellow;
    text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}
.card .calculator .textBox{
    position: relative;
    text-align: center;
    border: 3px solid;
    border-radius: 20px;

}
.card .calculator .textBox[type="text"]{
    position: relative;
    font-size:24px;
}
