*{
    margin:0;
    padding:0;
    font-family: "Open Sans",sans-serif;
    box-sizing: border-box;

}
body{
    background: url(../try1/img/wood.jpg);  
}

.section1{
    position: relative;
    border: 3px solid;
    overflow: hidden;
}
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    height:auto;
    width:auto;
    z-index: -100;
}
.section1 h1{
    text-align: center;
    font-size: 80pt;
    -webkit-text-stroke: 5px red;
}
.section1 .title{
    width: 100%;
    padding:10px;
    background: lightblue;
    text-align: center;
    justify-content: center;
    display: flex;
    border: 3px solid;

}
.section1 .title .cardTitle{
    background: lightgray;
    padding: 0 20px;
    margin: 0 20px;
    width: calc(33%, -20px);
    border: 3px solid;
    border-radius: 20px;
}
.section2{
    background: lightsalmon;
    border: 3px solid
}
.card{
    width: 400px;
    background: cornsilk;
    padding:40px;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
}
.calculator{
    text-align: center;
    position: relative;
}
.calculator h1{
    color:red;
}
.calculator h2{
    color: black;
    position: relative;
    text-align: center;
}
.submitBtn{
    margin-left: auto;
    position: relative;
    bottom: -20px;
    text-decoration: none;
    color: darkslategray;
    border: 3px solid;
    padding: 8px 24px;
    border-radius: 20px;
    cursor: pointer;
    
}
.submitBtn:active{
    margin-left: auto;
    position: relative;
    bottom: -20px;
    text-decoration: none;
    color: darkslategray;
    border: 3px solid;
    padding: 10px 26px;
    border-radius: 20px;
    cursor: pointer;
}
.card .calculator .answer{
    text-align: center;
    margin: auto;
    position: relative;
    top: 40px;
    width: 70%;
    padding:5px 10px;
    border: 3px solid darkslategray;
    border-radius: 10px;
    background-color: greenyellow;
}
.card .calculator .answer:hover{
    text-align: center;
    font-size:40pt;
    color:pink;
    margin: auto;
    position: relative;
    top: 35px;
    width: 70%;
    padding:10px 20px;
    border: 5px solid darkslategray;
    border-radius: 10px;
    background-color: greenyellow;
    cursor: pointer;
    text-shadow: -1px 0 black, 0 3px black, 3px 0 black, 0 -1px black;
}
.card .calculator .textBox{
    position: relative;
    text-align: center;
    border: 3px solid;
    border-radius: 20px;

}
.card .calculator .textBox[type="text"]{
    position: relative;
    font-size:24px;
}
